.add-little-margin1 {
    margin-top: 48px;
}

.add-little-margin2 {
    margin-top: 9px;
    margin-bottom: 10px;
}

.add-little-fix1 {
    margin-top: -30px;
    margin-bottom: -20px;
}

.text-center-404 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cur-pointer {
    cursor: pointer;
}

.body-filter {
    position: sticky;
    background-color: #fff;
    z-index: 3;
    top: 30px;
}

.content-stock {
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: max-content;
    padding: 5px 5px;
}

.reduct-little-size-font {
    font-size: 13px;
}